CompileFlags:
  Add:
    - "-std=c++20"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
  Remove:
    - "-W*"
    - "-std=*"

Diagnostics:
  ClangTidy:
    Add:
      - modernize*
      - performance*
      - readability*
      - bugprone*
      - cppcoreguidelines*
    Remove:
      - modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-length.MinimumVariableNameLength: 2
      readability-identifier-length.MinimumParameterNameLength: 2

Index:
  Background: true
  StandardLibrary: true

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true

Hover:
  ShowAKA: true

Completion:
  AllScopes: true
